 body{  margin:0;
   
     background-color: papayawhips;
    
}
.spacio{
    
    padding: 1px 310px;
    background-color: darkblue;
}
  
.menu ul{
    top:0;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 1px;
    padding: 7px;
    overflow: hidden;
    background-color: darkblue;
    z-index: 100;
 }

.menu li{
    float: left;
}

.menu li a {
    display: block;    
    text-align: center;
    padding: 18px;
    text-decoration: none;
    color: white;}
.menu li a:hover {
     color:gold;	
}
s
div.container {
   
    border: 1px solid gray;
}

 footer {
    padding: 5px;;
    color: white;
    background-color: rgba(0,0,255,0.6);
    text-align: center;
}
 header {
    padding: 5px;
    color: darkblue;
    background-color: white;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


