.texto {
    position: relative;
    color:#fff;
    font-family: cursive;
    background-color: rgba(0,0,0,0.7);
    top:80%;
    
    width: 40%;
    padding: 20px 10px;
}

.slider{
    width: 80%;
    margin: auto; 
    overflow: hidden;
    align-content: center;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-timing-function: ease-out;

}
.slider li {
    width: 100%;
    list-style: none;
   
}
.slider img {
    width: 100%;  
      z-index: 10;
}



@keyframes cambio{
    0% { margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}    
    
    
}
.imgtexto{
    z-index: 20;
}